.Forms
  {
    width: 100%;
    align-items: center;
  }
  table {
    margin:  auto;
    margin-bottom: 20px;
  }
  
  td {
    text-align: center;
  }
  .my-table{
    border-collapse:collapse;
    width: 90%;
  }
  button{
    margin-right: 3px;
  }
