-- CreateTable
CREATE TABLE "project_details" (
    "project_name" VARCHAR(50),
    "project_type" VARCHAR(60),
    "project_desc" VARCHAR(300),
    "project_sdate" DATE,
    "project_edate" DATE
);

